html {
    background:
    radial-gradient(
      circle,
      rgba(0, 0, 0, 0.4) 40%,
      rgb(12, 4, 4)
    ),
    no-repeat center/contain url("./src/assets/background.jpeg") fixed;
    ;
  }

  .backgroundImg {
    height: 75vh;
    position: absolute;
    opacity: 0.1;
    margin-top: -2rem;
  }

